.enforce_red {
  color: red !important;
}

body {
  font-family: Gelion Regular;
  font-style: normal;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  height: 20px;
}

.company_logo {
  display: block;
  max-width: 150px;
  height: 100px;
  margin: 0;
  margin-left: -20px;
}


.body {
  max-width: 600px;
  margin: 15px 0 15px 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.pay {
  height: 40px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: #d56c00;
}

.submit-button {
  width: 100%;
  background-color: #e67b10;
}

.submit-button:hover {
  background-color: #c46404;
}

.card_date {
  width: 49% !important;
  margin-right: 1% !important;
}

.card_cvv {
  width: 49% !important;
  margin-left: 1% !important;
}

.card_date_cvv_container {
  margin-top: 20px !important;
}

.logo_pay_info_container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.pay_info_container {
  text-align: right;
}

.pay_info_container p {
  margin: auto 0;
}

.pay_info_container span {
  font-weight: 800;
  color: #e67b10;
}