/* general styling */
:root {
  --smaller: 0.75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* body {
    align-items: center;
    display: grid;
    place-items: center;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
  } */

.container {
  color: #333;
  height: 100vh;
  background: rgb(33, 36, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(33, 36, 0, 1) 0%,
    rgba(153, 128, 14, 1) 0%,
    rgba(246, 139, 30, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(33, 36, 0, 1) 0%,
    rgba(153, 128, 14, 1) 0%,
    rgba(246, 139, 30, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(33, 36, 0, 1) 0%,
    rgba(153, 128, 14, 1) 0%,
    rgba(246, 139, 30, 1) 100%
  );
  /* margin: 0 auto;
    text-align: center;
    align-items: center; */
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.content h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.content li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.content li span {
  display: block;
  font-size: 4.5rem;
}

.content .emoji {
  display: none;
  padding: 1rem;
}

.content .emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  .content h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  .content li {
    font-size: calc(1.125rem * var(--smaller));
  }

  .content li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
