body {
    font-family: Gelion Regular;
    font-style: normal;
  }
  
  .company_logo {   
    display: block;
    max-width: 150px;
    height: 100px;
    margin: auto;
  }
  
  .body {
    max-width: 600px;
    margin: 15px 0 15px 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .pay {
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: #d56c00;
  }
  
  .submit-button {
    width: 100%;
    background-color: #e67b10;
  }
  
  .submit-button:hover {
    background-color: #c46404;
  }