.main-container {
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.content-container {
    top: 0;
    position: relative;
    margin: 0 auto;
}

.main-container .content-container p {
    font-size: 20px;
    margin: 0;
    position: relative;
    top: 15vh;
    width: 100%;

    z-index: 2;
}

.main-container .content-container img {
    top: 0;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.success {
    margin-top: -100px;
}


@media only screen and (max-width: 600px) {
    .main-container .content-container p {
        top: 1vh;
    }
}