.container {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.wrapper {
  display: grid;
  place-items: center;
}

.description_text {
  margin-bottom: 20px;
}

.muted_text {
  color: #777;
  margin: 5px auto 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
